@media screen and (max-width : 700px) {
    .grid {
        width: 300px;
        height: 300px;
    }

    .cell {
        font-size: 0.6rem;
    }
}

@media screen and (max-width : 960px) {
    header {
        font-size: 1rem;
    }
}

@media screen and (max-width : 768px) {
    header {
        height: 200px;
    }

    form {
        width: 100%;
        justify-content: space-between;
    }

    main {
        height: calc(100vh - 270px);
    }
}

@media screen and (max-width : 420px) {

    select,
    button {
        font-size: 1rem;
    }

    header {
        justify-content: center;
    }



    header {
        height: 300px;
    }

}